# Rust's output directory
target

# Local Soroban settings
.soroban
Makefile

# Ignore JetBrains IDE settings
.idea/

# Ignore Test snapshots, they do not provide value in tracked Version Control
contracts/escrow/test_snapshots/tests

# Ignore macOS system files
**/.DS_Store